{% extends 'base/baseadmin.html.twig' %}
{% block titre %}  participation  {% endblock %}




{% block corp%}
<br><br><br><br>

<h2> Vérification   :</h2>
<br>




<table width="891" border="1">
  <tr>
   <td class="grise2" width="355">Nom Association </td>
    <th class="grise2"><div align="center"> Ness l Khir</div></th>
    
  </tr>
  
  <tr class="grise">
    <td class="grise2">E-mail</td>
    <th class="grise2"><div align="center"> Ness.lkhir@gmail.com</div></th>
    
  </tr>
  <tr class="grise">
    <td class="grise2"> Phone</td>
    <th class="grise2"><div align="center"> 71555555 </div></th>
  
  </tr>
  <tr class="grise">
    <td class="grise2"> Nombre de Cas Prise en charge</td>
    <th class="grise2"><div align="center"><div>
                <select class="form-control nice-select wide">
                  
                  <option value=""disabled selected>
                    3
                  </option>
                  <option value=""disabled selected>
                    1
                  </option>
                  <option value=""disabled selected>
                    2
                  </option>
                  <option value=""disabled selected>
                    5
                  </option>
                  
                  
                </select> </div></th>
  
  </tr>
  

  
</table>

<div> <br><br>
              
              <label for="fname"><b>Nombre Total des Cas Prise en charge :</b> &nbsp;&nbsp; </label>
               
            <button onclick="myFunction()">Calculer</button>

            <script>
            function myFunction() {
             alert("Nombre Total des Cas Prise en charge : 11 cas");
            }
            </script> <br><br></div>

</body>
</html>

 {% endblock %}


