
{% extends 'base/base.html.twig' %}
{% block titre %}  participation  {% endblock %}




{% block corp%}







<br><br><br><br>


                 <div class="login-popup"> 
                    <div class="form-popup" id="popupForm" >
                        <form style="margin-left: 25%;margin-top: 6%;">
                           <h2 style=color:green>&nbsp;&nbsp;Vérification</h2><br>
                                MR(S) : Chams  <br>
                                 Notification envoyer par E-mail

                                <br>
                                   
                        </form>
                       <div class="user_option">
                         <a href="{{path('post')}}" >
                            <button class="btn btn-success" style="margin-left: 950%;margin-top: 10%;"> OK </button>
                         </a>
                        </div> 
                     </div>
                  </div>


          <div class="col-md-6">
            <div class="signup-image">
                <figure><img src="images/verif.jpg" alt="sing up image" style="width:35% ; height:35% ; margin-left: 110%;margin-top: -30%;"></figure>
                
            </div>
        </div>

<br><br>
 {% endblock %}